
html{
	max-width: 100%;
	overflow-x: hidden;
}


body {
	width: 100%;
	margin: 0;
	right: 0;
	background-color: rgba(0,0,0,0.9);
}

// .container {
// 	width: 100%;
// 	min-height: 100%;
// 	position: relative;
// }

header {

	top: 0;
	padding: 2em;
	position: fixed;
	text-align: center;
	background-color: #fafafa;
	width: 100%;
	z-index: 2;

	h1{
		font-family: 'Krub', sans-serif;
		font-size: 24px;
		color: gray;
		letter-spacing: .2em;
		margin: 0;
		text-transform: uppercase;
		float: left;
	}

	h2{

		font-family: 'Krub', sans-serif;
		font-size: 14px;
		color: black;
		letter-spacing: .2em;
		margin: 0;
		text-transform: uppercase;
		float:right;
		margin-right: 5%;
		word-spacing: .2em;

		a{
			text-decoration: none;
			color: black;
		}
	}

}

.showcase::after{
	content: '';
	height: 83vh;
	width: 100%;
	background-image: url(resumebackground.jpg);
	background-size: cover;
	background-repeat: none;
	background-position: center;
	display: block;
	filter: blur(8px);
	-webkit-filter: blur(8px);
	transition: all 1000ms;
	margin-top: 95px;
}

.showcase:hover::after{
	filter:blur(0px);
	-webkit-filter: blur(0px);
}

.showcase:hover .intro {
	filter: blur(2px);
	-webkit-filter: blur(2px);
}

#Intro{
	position:absolute;
	z-index: 1;
 	padding: 5em;
 	padding-bottom: 8em;
}


// article{

// 	width: 100%;
// 	height: 80vh;
// 	background-color: #C26868; 
// 	padding:20px;
// 	margin-top: 40px;


// 	p{
// 		padding: 40px;
// 		margin-right: 20px;
// 		font-size: 40px;
// 		text-align: center;
// 		color: black;	
// 		border-style: solid;
// 		border-color: black;
// 		background-color: rgba(32,28,41,.75);
// 		padding-bottom: 30vh;
// 	}

// }


#Welcome section{
	background-color: #ddd;
	//#4C5364
	width: 100%;
	height: 7vh;
	padding: 12px;

	p{
		margin: 18px;
		font-family: 'Krub', sans-serif;
		font-size: 20px;
		text-align: center;
		color: gray;
		letter-spacing: .1em;
	}
}


#AboutMe {

	section
	{
	background-color: #fafafa;
	/*4C5364*/
	width: 100%;
	padding: 20px;

		h2
		{
		text-align: center;
		font-family: 'Krub', sans-serif;
		font-size: 24px;
		color: #C26868;
		letter-spacing: .1em;
		}

		img
		{
		width: 25%;
		height: 25%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		border-radius: 25px;
		}

		h4
		{
		text-align: center;
		font-family: 'Krub', sans-serif;
		font-size: 16px;
		color: #C26868;
		}

		p
		{
		font-family: 'Krub', sans-serif;
		display: block;
		font-size: 20px;
		margin-left: 22%;
		margin-right: 22%;
		text-align: center;
		}

	}

}


#Resume section{
	background-color: #C26868;
	/*C26868*/
	width: 100%;
	padding: 20px;
	margin-bottom: 5%;
	margin: 0;

	p{
		margin: 18px;
		font-family: 'Krub', sans-serif;
		font-size: 20px;
		text-align: center;
		margin-right: 18%;
		margin-left: 18%;
		letter-spacing: .1em;
	}

}


/*section p{
	padding: 1.2em;
	margin: 0px;
	margin-right: 20px;
}*/


footer{

	left: 0px;
	bottom: 0px;
	height: 20px;
	width: 100%;
	background-color: white;
	padding: 20px;
	font-size: 15px;
	font-family: 'Krub', sans-serif;


	#left{
		float:left;
	}

	#right{
		float:right;
		font-family: 'Krub' , sans-serif;
		font-size: 12px;
		padding-right: 30px;
	}

}


// #intro {
// 	background-color: #4C5364;
// 	text-align: center;
// }

/*#Resume {
	background-color: #C26868;
	margin-bottom: 250px;
	margin: 0px;
}
*/