/**********************************************
* Custom CSS for Personal Site, 
* Bootstrap Overrides
**********************************************/

/*Custom Body*/
#site{
	background-color: #4C5364;
}

body{
	overflow-x: hidden;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;

	p{
		font-size: 1.2rem;
	}
}

body::-webkit-scrollbar {
	width:0 !important;
}


/*Custom styling for Navigation Bar*/
#nav {
	padding: 1rem 1.6rem;

	a{
		font-family: 'Kaushan Script', cursive;
	}

	#mainNav a {

	font-family: 'Krub', sans-serif;
	}


	#PageTitle{

		font-size: 30px;
		letter-spacing: .2rem;
	}

	.nav-item{
		letter-spacing: .1rem;
	}
}


// /*Custom Styling for Carousel*/

// .img-fluid{
// 	max-height: 85vh;
// }

// .item img{
// 	top: 0;
// 	bottom: 0;
// 	left: 0;

// }

// .carousel-caption{

// 	h5{
// 		font-family: 'Krub', sans-serif;
// 	}
// 	h2{
// 		font-family: 'Krub', sans-serif;
// 	}
// 	p{
// 		font-family: 'Krub', sans-serif;
// 	}

// }

// #WelcomeCap{

// 	h5{
// 		font-size: 5rem;
// 		font-family: 'Kaushan Script', cursive;
// 	}

// }

// #EngCap{

// 	p{
// 		font-color: rgba(230,230,230,1);
// 	}

// }

// #JapanCap{

// }


/*Quote below carousel*/
#quote{
	text-align: center;
	padding: 1.5rem .4rem;
	background-color: #f8f9fa;
	padding-right: 0px;
	padding-left: 0px;
	letter-spacing: 1.5px;
	font-family: 'Krub', sans-serif;
	font-size: 1.4rem;
}

.hero-image {
	background-image: url("bricks.jpg");

	height: 65vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}



/*Custom Styling for AboutMe*/
#About{
	background-color: #4C5364;	
	margin-top: 2rem;
}

#AboutMe{
	background-color: #f8f9fa;
	padding: 3rem;
	//margin-top: 2rem;
	font-family: 'Krub', sans-serif;
	text-align: center;
	position: relative;

	h2{
		text-align: center;
		font-weight: 500;
		font-size: 1.4rem;
		font-family: 'Kaushan Script', cursive;
	}

	p{
		padding-top: 1.3rem;
		text-align: left;
	}

}

#portrait img{
	width: 50%;
	justify-content: center;
	border-radius: 7rem;
}

@media (min-width: 576px){
	#portrait img{
		width: 80%;
		border-radius: 7rem;
	}

	#AboutMe{
		h2{
			font-size: 2rem;
		}

	}
}


/*Custom Styling for Activities*/

#Activities{
	background-color: #f8f9fa;
	padding: 2rem;

	h2{
		text-align: center;
		font-weight: 500;
		font-size: 2rem;
		font-family: 'Kaushan Script', cursive;
		padding-bottom: 1.5rem;
		padding-top: 2rem;
	}

	i{
		display: block;
		text-align: center;
	}

	h3{
		text-align: center;
	}

	p{
		text-align: center;
		padding: 1rem;
	}

}



#WorkSpace{
	background-color: #f8f9fa;
	margin-bottom: 2rem;

	h2{
		text-align: center;
		font-weight: 500;
		font-size: 2rem;
		font-family: 'Kaushan Script', cursive;
		padding-bottom: 1.5rem;
		padding-top: 2rem;
	}

	i{
		display: block;
		text-align: center;
	}

	h3{
		text-align: center;
	}

	p{
		text-align: center;
		padding: 1rem;
	}

}


/*Custom Styling for Projects*/
#Projects{
	background-color: rgba(240, 240, 240, 1);

}

.title{
	text-align: center;
	font-weight: 500;
	font-size: 2rem;
	font-family: 'Kaushan Script', cursive;
	padding-bottom: 1.5rem;
	padding-top: 2rem;
}

.exp-nav{
	padding-top: 2rem;
	padding-left: 2rem;
	background-color: rgba(240, 240, 240, 1);
}










